<!-- 親テンプレートを読み込む-->
{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="mt-5 text-center">
            <div class="alert alert-primary mx-auto" role="alert">
                <p style="margin-bottom:1em;"><h3><b>姿勢判定アプリの説明</b></h3></p>
                <p style="margin-bottom:1em;" align="center"><a href="{% url 'tos' %}">利用規約</a>をご確認の上、アプリをご利用ください。</p>
                <hr>
                <h4>
                    <ol>
                        <li style="margin-bottom:1em;" align="left"><font color=blue>（倒立した）</font>人物が映る画像ファイルをアップロードしてください。</li>
                        <p style="margin-bottom:1em;" align="left">※ 画像ファイルを選択後、「判定」ボタンを押します。</p>
                        <li style="margin-bottom:1em;" align="left">アップロードされた画像の特徴を基に<font color=blue>AIが姿勢（倒立or立位）を自動的に判定します。</font></li>
                        <p style="margin-bottom:1em;" align="left">※ 画像における重力は下向きに働いていると想定します。</p>
                        <li style="margin-bottom:1em;" align="left">簡易アプリのため、上記のルールを無視した画像は正しく判定されません。</li>
                        <p style="margin-bottom:1em;" align="left">※ 画像ファイルは複数同時にアップロードできます。</p>
                    </ol>
                </h4>
            </div>
        </div>
        <hr>
        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
            <div style="display:inline-flex">
                <input type="file" name="files[]" multiple>
            </div>
            <div class="pt-3">
                <input type="submit" class="btn btn-lg btn-danger" value="判定">
            </div>
            {% csrf_token %}
        </form>
        {% if message %}
            <div class="alert alert-danger" role="alert">
                <h4><font color="red">{{message}}<br></font> </h4>
            </div>
        {% endif %}
        <hr>
        <h4><p style="margin-bottom:1em;">入力画像例</p></h4>
        <!-- 画像表示 -->
        <div class="container">
            <table align="center" border="0" cellpadding="5">
                <tr>
                    <td>
                        <img src="{% static 'pose_estimation/sample1.jpg' %}" width="100%" height="100%">
                        <div class="caption">立位姿勢</div>
                    </td>
                    <td>
                        <img src="{% static 'pose_estimation/sample2.jpg' %}" width="100%" height="100%">
                        <div class="caption">倒立姿勢</div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- 画像表示 -->
    </div>
</div>
{% endblock content %}